.main{
    width:80%;
    margin: 0 auto;
    display: block;
}

.photos img {
   /* Just in case there are inline attributes */
   /* width: 100% !important;
   height: auto !important; */

   /* padding-bottom:20px; */
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   max-width: 400px;
   max-height: 400px;
 }

 .item:hover{
   transform: translate(0px, -15px);
   transition: 0.2s ease-in;
 }

.lower-page{
  position: relative;
  /* overflow-y: scroll; */
  height: 70vh;
  padding-bottom: 10%;
}

/* vv search button vv */
#header{
  background-color:  #FEC722;
  padding: 20px;
}
#logo{
  font-size: xx-large;
  font-family: fantasy;
  left: 100%;
}

.info-header {
  border-radius: 2rem;
  padding: 1rem;
}

.wrapper{
    width: 100%;
    padding: 1rem 0 1rem 0;
    margin: 2rem 0rem 2rem 0rem;
    border-radius: 2rem;
    text-align: center;
}

.wrapper #txtTagInput {
    width: 100%;
    max-width: 35rem;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: lightgrey;
}


#icon{
  background-color: #a0ffa9;
  width: 3rem;
}

#searchbtn{
  min-height: 3rem;
}
/* ^^ search button ^^ */


.active-page {
  background-color: #a0ffa9;
}

/* vv activity loading vv */

#loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #a0ffa9;
  width: 30px;
  height: 26px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-right: 10px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

 
 body {
   margin: 0;
   padding: 0;
   overflow: scroll;
   /* background-color: #212121; */
 }

 /* pagination */

 #load-imgs {
   background-color: #a0ffa9;
   justify-content: center;
   border-radius: 5px;
 }
 #images-load {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
 }