.main{
    width:80%;
    margin: 0 auto;
    display: block;
}
 
 .photos img {
   /* Just in case there are inline attributes */
   /* width: 100% !important;
   height: auto !important; */

   padding-bottom:20px
 }

.lower-page{
  position: relative;
  /* overflow-y: scroll; */
  height: 70vh;
  padding-bottom: 10%;
}

/* vv search button vv */
#header{
  background-color:  #FEC722;
  padding: 20px;
}
#logo{
  font-size: xx-large;
  font-family: fantasy;
  left: 100%;
}

.wrapper{
	position: relative;
    /* top: 50%; */
    left: 50%; 
    transform: translate(-50%, 1%);
    /* background: rgba(0, 0, 0,0.6); */
    max-width: 600px;
    width: 100%;
    padding: 15px;
    margin: 40px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.wrapper #txtTagInput {
    width: 85%;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

#searchbtn {
    background: #a0ffa9;
    width: 10%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    text-align: center;
}

#icon{
position:absolute;
margin: auto;
top: 0;
bottom: 0;
left: 0;
right: 0;
}

#searchbtn #fas{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    text-align: center;
}
/* ^^ search button ^^ */


/* vv activity loading vv */

#loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #a0ffa9;
  width: 30px;
  height: 26px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-right: 10px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

 
 body {
   margin: 0;
   padding: 0;
   overflow: scroll;
   /* background-color: #212121; */
 }