<!DOCTYPE html>
<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="./static/app.js"></script>
  <link rel="stylesheet" href="./static/main.css">
</head>
<body>

  <!-- header bar -->
  <section id="header">
    <label id="logo">Image gallery</label>
  </section>

  <section class="main">

    <!-- searc bar area -->
    <div id="upload_data" class="wrapper">
      <!-- <input id="file_up" type="file"/> -->
      <div id="loader"></div>
      <input type="text" id="txtTagInput"
      placeholder="Drag and drop image or search by keywords">
      
      <div id="searchbtn">
        <img id='icon' src="./static/icons/baseline_search_black_18dp.png"/>
        <i class="fas fa-search"></i>
      </div>
    </div>
    
        <!-- Photo gallery -->
      <div id="photos">
      </div>
  </div>
  </section>

</body>
</html>